body, html
{
  background-color: #FAF6EE;
  margin: none;
  padding: none;
  font-family: "Europa", "Helvetica New", sans-serif;
}

header
{
  height: 4em;
  background-color: #900C3F;
  margin: none;
  color: white;
  margin-bottom: 10px;
  border-bottom: #FF5733 solid 5px;
  padding: 5px;
}

main
{
  margin: 0 5em;
  padding-bottom: 3em;
}

#city
{
  border-radius: 5px;
  border: .5px solid gray;
  height: 2em;
}
